{{#each tweets as |t|}}
  <div class="tweet-wrap">
    <div class="tweet-header">
      <img src="img/profile.png" alt="profile.png" class="profile" />
      <div class="tweet-header-info">
        {{t.user_id}}
        <span>@{{t.user_id}}</span><span>{{t.date}}
        </span>
        <p>{{t.tweet}}</p>

        <div class="tweet-img-wrap">
          <img src="img/twit-img.jpg" alt="twit-img.jpg" class="tweet-img" />
        </div>
      </div>
    </div>
  </div>
{{/each}}