<form method="POST" action="\post">
  <label>Input:</label>
  <textarea name="input" placeholder="What's happening?"></textarea>
  <div>
    <div class="inner">
      <button type="button" onclick="alert('TBA')">Upload Image</button></div>
    <div class="inner"> <input class="submit" type="submit" /></div>
  </div>
</form>