<div class="form">
  <form method="POST" action="\post">
    <label>Input:</label>
    <div class="form-row">
      <textarea
        name="input"
        placeholder="What's happening?"
        required
      ></textarea>
    </div>
    <div class="form-row">
      <button class="image-btn" type="button" onclick="alert('TBA')">Upload
        Image</button></div>
    <div class="form-row"> <input class="submit" type="submit" /></div>
  </form>
</div>