<div class="outer">
  <div class="wrapper">
    <a class="profile-bg main-wrapper d-block"></a>
    <div>
      <a href="#" id="profile-link">
        <img id="profile" src="img/profile.png" id="profile.png" />
      </a>
      <div id="profile-marg">
        <div id="profile-name">
          <a href="#">Lorem ipsum</a>
        </div>
        <div id="profile-at">
          <span>
            <a href="#">@<span>Lorem ipsum</span></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tweet-wrap">
  <div class="tweet-header">
    <img src="img/profile.png" alt="profile.png" class="profile" />
    <div class="tweet-header-info">
      Lorem ipsum
      <span>@Lorem ipsum</span><span>. Jun 27
      </span>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In scelerisque
        pharetra laoreet. Quisque in sem vel metus hendrerit sodales. Orci
        varius natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Quisque dictum euismod leo ac mattis. In lobortis, tortor
        vitae fringilla vehicula, magna dui feugiat mi, vel aliquet metus ligula
        ut sem.</p>

      <div class="tweet-img-wrap">
        <img src="img/twit-img.jpg" alt="twit-img.jpg" class="tweet-img" />
      </div>
    </div>
  </div>
</div>