body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  background: #e6ecf0;
  /* font-family: 'Asap', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */
}

img {
  max-width: 100%;
}

.btn {
  background: none;
  color: inherit;
  border-radius: 10px;
  padding: 2px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  float: right;
  position: relative;
  top: 0;
  right: 0;
}

.btn:hover {
  background-color: lightgray;
}

.outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10em;
  /* background-color: #657786; */
}

.wrapper {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  height: auto;
  width: 540px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.09);
}

.main-wrapper {
  background-image: url("./images/twitter.png");
  background-position: 0 50%;
  background-size: 100% auto;
  border-radius: 4px 4px 0px 0px;
  height: 95px;
  width: 100%;
}

#profile-link {
  background-color: #fff;
  border-radius: 6px;
  display: inline-block;
  float: left;
  margin: -30px 5px 0px 8px;
  max-width: 100%;
  padding: 12px;
  vertical-align: bottom;
}
#profile-img {
  border: 2px solid #fff;
  border-radius: 7px;
  color: #fff;
  height: 72px;
  width: 72px;
}
#profile-marg {
  margin: 5px 0px 5px 0px;
}
#profile-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  padding-left: 8em;
  padding-bottom: 4px;
}
#profile-name a {
  color: inherit;
}
#profile-at {
  padding-left: 8em;
}

#profile {
  width: 72px;
}

.profile {
  border-radius: 100px;
  width: 48px;
  margin-right: 15px;
}

.submit {
  margin-top: 1em;
}

textarea {
  width: 100%;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
  height: 5em;
  /* font-family: 'Courier New', monospace; */
  font-size: 1em;
}

.tweet-wrap {
  /* change for size */
  max-width: 490px;
  background: #fff;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 6px;
  padding: 30px;
  border-bottom: 1px solid #e6ecf0;
  /* border-top: 1px solid #e6ecf0; */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.09);
}

.tweet-header {
  display: flex;
  align-items: flex-start;
  font-size: 14px;
}
.tweet-header-info {
  font-weight: bold;
}
.tweet-header-info span {
  color: #657786;
  font-weight: normal;
  margin-left: 5px;
}
.tweet-header-info p {
  font-weight: normal;
  margin-top: 5px;
}

a {
  color: #0073aa;
}

a img {
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}

form {
  margin-top: 1em;
  margin-bottom: 1em;
}

input[type="submit"] {
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  font-size: 1em;
}

#wrap {
  text-align: center;
}
#nav-search {
  margin: 0 auto;
  position: relative;
  /* width: 202px; */
}

#nav-search input {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  display: block;
  width: 100%;
  padding: 6px 27px 6px 12px;
  cursor: pointer;
  /* color: rgb(102, 102, 102); */
  /* background-color: rgb(204, 204, 204); */
  border: none;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
}

#nav-search .icon {
  position: absolute;
  display: block;
  top: 8px;
  right: 8px;
  width: 14px;
  height: 15px;
  background: url("https://abs.twimg.com/a/1374049044/t1/img/twitter_web_sprite_icons.png") -20px -710px
    no-repeat transparent;
  border: none;
  text-indent: -200px;
  padding: 0;
  cursor: pointer;
}

#search-term {
  padding-top: 10px;
}
